<%= form_for @observation, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <% control_group f.object, :name do %>
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
      <%=inline_errors f, :name%>
    </div>
  <%end%>
  <% control_group f.object, :ppatch do %>
    <%= f.label :ppatch, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :ppatch, Ppatch.all.collect{|p| [p.name, p.id]} << ["Other - enter name", -1], :include_blank => true %>
      <%= text_field_tag 'ppatch_name'%>
      <%=inline_errors f, :ppatch%>
    </div>
  <%end%>
  <% control_group f.object, :observed_at do %>
    <%= f.label :observed_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :observed_at, {:ampm => true}, :class => 'input-small'%>
      <%=inline_errors f, :observed_at%>
    </div>
  <%end%>
  <% control_group f.object, [:weather1, :weather2] do %>
    <%= f.label "weather", :class => 'control-label' %>
    <div class="controls">
      <%[1,2].each do |i|%>
        <%= f.select "weather#{i}", Observation::WEATHER, {:include_blank => true}, {:class => 'input-small'} %>
        <%=inline_errors f, "weather#{i}"%>
      <%end%>
      <span class="help-inline">Enter up to 2 tags</span>
    </div>
  <%end%>
  <% control_group f.object, :temperature do %>
    <%= f.label :temperature, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.number_field :temperature, :class => 'input-small' %><span class="add-on">&deg;F</span>
      </div>
      <%=inline_errors f, :temperature%>
    </div>
  <%end%>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), observations_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $('#observation_ppatch').change(function(){
      if ($(this).val() == '-1') {
          $('#ppatch_name').attr('disabled', false).show().focus();
      } else {
          $('#ppatch_name').attr('disabled', true).hide();
      }
  });
  $('#observation_ppatch').change();
</script>
