<%= form_for @observation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ppatch, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ppatch, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observed_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :observed_at, {}, :class => 'datetime_select input-small'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weather, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weather, :class => 'text_field' %>
      <span class="help-inline">Enter up to 2 tags</span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :temperature, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.number_field :temperature, :class => 'number_field input-small' %><span class="add-on">&deg;F</span>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                observations_path, :class => 'btn' %>
  </div>
<% end %>
