<%- model_class = Observation.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:ppatch) %></th>
      <th><%= model_class.human_attribute_name(:observed_at) %></th>
      <th><%= model_class.human_attribute_name(:weather) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= link_to observation.id, observation_path(observation) %></td>
        <td><%= observation.name %></td>
        <td><%= observation.ppatch %></td>
        <td><%= observation.observed_at %></td>
        <td><%= observation.weather %></td>
        <td><%= observation.temperature %></td>
        <td><%=l observation.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_observation_path(observation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      observation_path(observation),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_observation_path,
            :class => 'btn btn-primary' %>
