<%- model_class = Observation.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:ppatch) %></th>
      <th><%= model_class.human_attribute_name(:observed_at) %></th>
      <th><%= model_class.human_attribute_name(:weather1) %></th>
      <th><%= model_class.human_attribute_name(:weather2) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.name %></td>
        <td><%= observation.ppatch ? observation.ppatch.name : '<em>nil!</em>'.html_safe %></td>
        <td><%= observation.observed_at %></td>
        <td><%= observation.weather1 %></td>
        <td><%= observation.weather2 %></td>
        <td><%= observation.temperature %></td>
        <td><%=l observation.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_observation_path,
            :class => 'btn btn-primary' %>
