<%= form_for @plant_datum, :url => observation_plant_data_path(params[:observation_id]), :html => { :class => 'form-horizontal' } do |f| %>
  <% control_group f.object, :plant_type do %>
    <%= f.label :plant_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :plant_type, PlantDatum::TYPE, :include_blank => true %>
      <%=inline_errors f, :plant_type%>
    </div>
  <%end%>

  <% control_group f.object, :total_number_of_fruits do %>
    <%= f.label :total_number_of_fruits, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :total_number_of_fruits, {:class => 'input-small'} %>
      <span class="help-inline">Total number of tomatoes harvested</span>
      <%=inline_errors f, :total_number_of_fruits%>
    </div>
  <%end%>
  
  <% control_group f.object, :number_of_fruits_measured do %>
    <%= f.label :number_of_fruits_measured, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :number_of_fruits_measured, {:class => 'input-small'} %>
      <span class="help-inline">Number of tomatoes placed in measuring bottle</span>
      <%=inline_errors f, :number_of_fruits_measured%>
    </div>
  <%end%>
  
  <% control_group f.object, :water_volume_with_tomatoes do %>
    <%= f.label :water_volume_with_tomatoes, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.number_field :water_volume_with_tomatoes, {:class => 'input-small'} %><span class="add-on">mL</span>
        <span class="help-inline">A. Volume of water <strong>WITH</strong> tomatoes in it</span>
      </div>
    </div>
  <%end%>

  <% control_group f.object, :water_volume_without_tomatoes do %>
    <%= f.label :water_volume_without_tomatoes, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.number_field :water_volume_without_tomatoes, {:class => 'input-small'} %><span class="add-on">mL</span>
        <span class="help-inline">B. Volume of water <strong>WITHOUT</strong> tomatoes in it</span>
      </div>
    </div>
  <%end%>

  <% control_group f.object, :volume do %>
    <%= f.label :volume, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append">
        <%= f.number_field :volume, {:class => 'input-small'} %><span class="add-on">mL</span>
        <span class="help-inline">Volume of tomatoes measured (A-B)</span>
        <%=inline_errors f, :volume%>
      </div>
    </div>
  <%end%>

  <% control_group f.object, :comments do %>
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, :class => 'input-xlarge', :rows => 4 %>
      <%=inline_errors f, :comments%>
      <p class="help-block">Any other comments about this plant</p>
    </div>
  <%end%>

  <div class="form-actions">
    <%= f.submit 'Save and enter another plant', :class => 'btn btn-primary' %>
    <%= f.submit 'Save and enter pollinator data', :class => 'btn btn-primary' %>
    <%= link_to 'Go to pollinator entry without saving this page', new_observation_pollinator_datum_path(@observation), :class => 'btn btn-small' %>
  </div>
<% end %>

<script type="text/javascript">
$(function(){
  $('#plant_datum_water_volume_with_tomatoes, #plant_datum_water_volume_without_tomatoes').change(function(){
      var water_with = Number($('#plant_datum_water_volume_with_tomatoes').val());
      var water_without = Number($('#plant_datum_water_volume_without_tomatoes').val());
      var volume = water_with - water_without;
      $('#plant_datum_volume').val(volume);
  });
});
</script>
